.app {
  min-height: 100vh;
  background-image: url("https://i5.walmartimages.com/asr/8dd82ca6-adb0-4827-a6c4-c88aec06940d_1.ff23051db200c4ccd38a5e028ba659f6.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.app__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  max-width: 1360px;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}

.app__spiner {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 767px) {
  .app__wrap {
    padding: 20px 10px;
  }
}
